@import "../../styles/colors.scss";

.input {
  position: relative;

  &-input {
    box-sizing: border-box;
    width: 100%;
    font-size: 17px;
    line-height: 19px;
    padding: 20px;
    border: 1px solid $color-grey;
    outline: none;
    transition: all 0.5s;

    &:focus {
      border-color: $color-blue-light;
      box-shadow: 0px 0px 0px 5px $color-blue-light;
      box-sizing: border-box;
      outline: none;
    }

    &:disabled {
      border-color: $color-grey-2;
      background-color: $color-grey-2;
      color: $color-grey-3;
      cursor: not-allowed;
    }

    &--error {
      border-color: $color-red;

      &:focus {
        box-shadow: 0px 0px 0px 5px $color-red;
      }
    }
  }

  &__label {
    font-size: 14px;
    position: absolute;
    left: 20px;
    top: 3px;
    color: $color-grey-3;
  }
}
